# SauceDemo Environment Variables

# Base application URL
BASE_URL=https://www.saucedemo.com

# Valid standard user
SAUCEDEMO_STANDARD_USERNAME=<your_standard_user>

# For negative tests
SAUCEDEMO_LOCKED_OUT_USERNAME=<locked_out_user>
SAUCEDEMO_INVALID_USERNAME=<invalid_user>

# Common password
SAUCEDEMO_PASSWORD=<your_password>

# Checkout information
SAUCEDEMO_FIRST_NAME=<your_first_name>
SAUCEDEMO_LAST_NAME=<your_last_name>
SAUCEDEMO_POSTAL_CODE=<your_postal_code>