# saucedemo

# Bug Report

**Software:** Saucedemo

**QA Responsible:** Daniel Brito

**Date:** March 15, 2024

---

#### Bug 01: Error during checkout with multiple items

| **ID**  | **Description**                                                                                           |
| :-----: | --------------------------------------------------------------------------------------------------------- |
| BUG-001 | When attempting to complete checkout with multiple itens, the system displays an error message and does not complete the checkout. |

| **Evidence(s)** |
| :-------------: |
| <insert medias here> |

---

#### Bug 02: Error during cart product quantity update

| **ID**  | **Description**                                                           |
| :-----: | ------------------------------------------------------------------------- |
| BUG-002 | When attempting to modify the quantity in the cart, the system display an error message and dos not chance the quantity. |

| **Evidence(s)** |
| :--------------: |
| <insert medias here> |

